<h1>unitech items index</h1>

<div class="search">
  <%= form_tag "/unitech_items", :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
</div>

<% if !@items.blank? %>
  <% for item in @items %>
    <p><em><%= item.name %></em> in category 
    <em><%= item.cat1 %>→</em>
    <em><%= item.cat2 %>→</em>
    <em><%= item.cat3 %>→</em>
    <em><%= item.cat4 %></em></p>
    <br>
  <% end %>
<% else %>
  <p>No items found in db</p>
<% end %>