<!DOCTYPE html>
<html>
<head>
  <title>UnitechDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Unitech d.o.o</a>
        
        <ul class="nav">
          <li><a href="/brand">Po brendovima</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Po kategorijama <b class="caret"></b></a>
            
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a href="/category/SVE_ZA_FRIZERSKE_SALONE">Sve za frizerske salone</a>
                  <ul class="dropdown-menu">
                    <li><a href="/category/SVE_ZA_FRIZERSKE_SALONE/KOZMETIKA_ZA_KOSU">Kozmetika za kosu</a></li>
                    <li><a href="/category/SVE_ZA_FRIZERSKE_SALONE/ELEKTRIČNI_APARATI">Električni aparati</a></li>
                    <li><a href="/category/SVE_ZA_FRIZERSKE_SALONE/NAMEŠTAJ_I_OPREMA">Nameštaj i oprema</a></li>
                    <li class="dropdown-submenu">
                      <a href="/category/SVE_ZA_FRIZERSKE_SALONE/ALAT">Alat</a>
                      <ul class="dropdown-menu">
                        <li><a href="/category/SVE_ZA_FRIZERSKE_SALONE/ALAT/MAKAZE">Makaze</a></li>
                        <li><a href="/category/SVE_ZA_FRIZERSKE_SALONE/ALAT/VIKLERI">Vikleri</a></li>
                        <li><a href="/category/SVE_ZA_FRIZERSKE_SALONE/ALAT/ČEŠLJEVI">Češljevi</a></li>
                        <li><a href="/category/SVE_ZA_FRIZERSKE_SALONE/ALAT/ČETKE">Četke</a></li>
                        <li><a href="/category/SVE_ZA_FRIZERSKE_SALONE/ALAT/BRIJAČI_I_TRIMERI">Brijači i trimeri</a></li>
                      </ul>
                    </li>
                    <li><a href="/category/SVE_ZA_FRIZERSKE_SALONE/PRIBOR_I_SITAN_INVENTAR">Pribor i sitan inventar</a></li>
                    <li><a href="/category/SVE_ZA_FRIZERSKE_SALONE/NADOGRADNJA_KOSE">Nadogradnja kose</a></li>
                  </ul>
                </li>
                <li><a href="/category/SVE_ZA_KOZMETIČKE_SALONE">Sve za beauty salone</a></li>
                <li class="dropdown-submenu">
                  <a href="/category/REZERVNI_DELOVI">Rezervni delovi</a>
                  <ul class="dropdown-menu">
                    <li><a href="/category/REZERVNI_DELOVI/ELEKTRIČNA_TURPIJA">Električna turpija</a></li>
                  </ul>
                </li>
              
            </ul>
          </li>
        </ul>

        <!-- <form class="navbar-search pull-left">
          <input type="text" class="search-query" placeholder="Search">
        </form> -->



        <%= form_tag search_index_path, :class =>'navbar-search pull-left', :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search], :class=>"search-query" %>
            <%= submit_tag "Search", :name => nil, :class=>"btn" %>
          </p>
        <% end %>


      </div>


    </div>
    <%= yield %>
  </div>

</body>
</html>
